{% extends 'EphyrosImageUploaderBundle::layout.html.twig' %}

{% block body %}
    <h3>Uploaded images:</h3>
    {% if not images.isEmpty %}

        <ul>
            {% for image in images %}
                <li><a href="/{{ image.webPath }}">{{ image.fileName }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        No images uploaded
    {% endif %}
    <h3>Upload image:</h3>
    <form action="{{ path('ephyros_image_uploader_homepage') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="Upload" class="btn btn-primary"/>
        </div>
    </form>
{% endblock %}

